.individual-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.back-to-home-btn {
  text-decoration: underline;
  color: var(--primary-color);
  padding: 20px 0 0 5px;
}