
.wrapper {
    min-height: 100vh;
    width: 100%;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    height: 100vh;
    width: 200px;
    padding: 20px 10px;
    border-right: 1px solid var(--text-inactive);
    background-color: var(--bg2);
    color: var(--text-active);
    z-index: 10;
}

.main-content {
    min-height: 100vh;
    width: 100%;
    padding: 80px 20px 20px 220px;
    overflow: auto;
    color: var(--text-active);
}

.sidebar-title {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 15px;
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.sidebar .navlink-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar a {
    padding: 10px;
}

.sidebar a.active {
    background: linear-gradient( var(--primary-shade-from) , var(--primary-shade-to) );
    border-radius: var(--border-radius);    
}

@media screen and (max-width: 900px) {
    .sidebar {
      bottom: 0;
      left: 0;
      top: unset;
      width: 100%;
      height: 60px;
      padding: 5px 10px;
      border-top: 1px solid var(--text-inactive);
    }
    .sidebar .navlink-container {
      flex-direction: row;
    }

    .main-content {
      padding: 30px;
    }
  }
  @media screen and (max-width: 650px) {
    .art-container {
      grid-template-columns: 1fr;
    }
  }