.artwork-card{
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.artwork-card img {
  width: 100%;
  height: 25vw;
  object-fit: cover;
}

.artwork-card .artwork-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 35px;
  width: 100%;
  padding: 0 10px 10px 10px;
  background: linear-gradient(var(--primary-shade-from), var(--primary-shade-to));
  transition: 300ms;
  transform: translateY(40%);

}

.artwork-details .details-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  height: 30px;
  border-radius: var(--border-radius);
  background-color: var(--text-active);
  color: var(--primary-color);
}

.artwork-details .details-btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.artwork-card .artwork-details .title,
.artwork-card .artwork-details .details-btn {
  opacity: 0;
  transition: 200ms;
}

.artwork-card .artwork-details:hover {
  height: unset;
  transform: translateY(0);
}

.artwork-card .artwork-details:hover > .title,
.artwork-card .artwork-details:hover > .details-btn {
  opacity: 1;
}

.artwork-card .artwork-details .show-more-icon {
  align-self: center;
  transform: rotate(180deg);
  transition: 200ms;
}
.artwork-card .artwork-details:hover > .show-more-icon{
  transform: rotate(0deg);
}


.artwork-card .favorite-heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 37px;
  cursor: pointer;
  padding: 4px;
  color: var(--primary-color);
  border-radius: var(--border-radius);
  transition: 200ms;
}

.artwork-card .favorite-heart-icon:hover {
  background-color: var(--bg3-form);
} 